<div class="row">
    <div class="col s6 m6" id="col1">
        <div class="card-panel z-depth-5">
            <span class="black-text" id="eventsGoHere">
                <!-- Event Table -->
                <table>
                    <thead>
                        <tr>
                            <th>Flights to this Location</th>

                        </tr>
                    </thead>
                    <tbody id="appendtome" class="striped" class="responsive-table">

                    </tbody>
                    {{#each this.flights}}
                    <div>
                        <div>
                            <div>
                                <span>
                                    <span>{{airline.name}}</span>
                                    <span> Flight {{flight.iataNumber}}</span>
                                </span>
                            </div>
                            <div>
                                <span>
                                    <span> Departure {{departure.iataCode}}</span>
                                    <span>{{departure.scheduledTime}}</span>
                                </span>
                            </div>
                            <div>
                                <span>
                                    <span>Arrival {{arrival.iataCode}} </span>
                                    <span>{{arrival.scheduledTime}}</span>
                                </span>
                            </div>

                        </div>

                    </div>
                    <br>
                    {{/each}}
                </table>
            </span>
        </div>
    </div>