<div class="row">
    <div class="col s6 m6" id="col1">
        <div class="card-panel z-depth-5" style="overflow-y: scroll; height: 450px">
            <span class="black-text" id="eventsGoHere">
                <!-- Event Table -->

                <table>

                    <thead>


                        <tr>
                            <th>New Friends from this Area</th>

                        </tr>
                    </thead>
                    <tbody id="appendtome" class="striped" class="responsive-table"></tbody>
                    {{#each this.matches}}
                    <tr>
                        <td>
                            <div>
                                <div><b>{{name}} {{age}}, {{lang}}</b> </div>
                                <div class="profilePic"
                                    style="background-size: 100%; width: 100px; height: 100px; display: block; float: left; background-image: url('{{photo}}')">
                                </div><span style="vertical-align: top;"> {{bio}} {{city}} {{country}}</span><br>
                                <div>{{userName}} {{email}}</div>
                            </div>
        </div>
        {{/each}}</td>
        </tr>
        </table>
        </span>
    </div>
</div>